@import "variables";

//bootstrap
@import '~bootstrap/scss/bootstrap';


//game list
.game-list-cell {
	transition: all, 0.3s;
}

.slide-list-enter-active, .slide-list-leave-active {
	position: absolute;
}

.slide-list-enter, .slide-list-leave-to {
	opacity: 0;
}